[Desktop Entry]
Type=Application
Name=Install Solmira Linux
Comment=Start the Solmira Linux installer
Exec=pkexec foot bash -c "/usr/local/bin/installer.sh; echo; echo 'Press Enter to close'; read"
Icon=system-software-install
Terminal=false
Categories=System;Settings;